* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 20px;
  margin: 100px auto 0;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 20px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 24px;
}

.weather {
  color: white;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  margin: 20px auto 30px;
}

.details {
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.humidity {
  display: flex;
  border: 2px solid black;
  margin: 20px;
}

.humidity h4 {
  display: block;
  font-size: xx-large;
  font-weight: 100;
  line-height: 1;
  margin-left: -50px;
}

.humidity img {
  height: 40px;
  width: fit-content;
  height: max-content;
}

.speed {
  display: flex;
  border: 2px solid black;
  margin: 20px;
}
